body {
  position: relative;
  background: #000;
  color: #fff;
}

header{
  z-index: 1;
  position:fixed;
  width:100%;
  height:60px;
}

header a{
  color:white;
  display:inline-block;
  padding:0px 30px;
  height:60px;
  line-height:60px;
  text-align:center;
  font-family: 'Roboto Slab', serif;
  text-decoration:none;
  text-transform:uppercase;
  letter-spacing:2px;
  font-weight:700;
}

.nav {
  display: inline-block;
}
#hero1{
  background:url(../images/AdobeStock_81776229.jpeg);
  background-size:cover;
  background-position:center center;
  background-attachment:fixed;
}
#hero2{background: url(../images/AdobeStock_70474239.jpeg);
  background-size:cover;
  background-position:center center;
  background-attachment:fixed;
}
.hero, .content{
  text-align:center;
  position:relative;
  width: 100%;
}

.inner{
  min-height:600px;
  position: relative;
}

.hero .inner-cover{
  background: rgba(0,0,0,0.2) url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAACCAYAAACddGYaAAAAD0lEQVQIW2NkQABjRmQOAAM+AGkQsDBSAAAAAElFTkSuQmCC) repeat;}


.copy{
  position:absolute;
  top:50%;
  height:10em;
  margin-top:-5em;
  width:100%;
}

h1,
h2 {
  color: #fff;
  text-transform: uppercase;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

#about,
#portfolio,
#contact {
  height: 85px;
  margin-top: -85px;
  display: block;
  visibility: hidden;
}